#loader-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress-bar {
  width: 10%;
  height: 20px;
  background-color: #3c87bc; /* Green */
}


/* Styles for the black bars */
.black-bar {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 130px;
  display: none; /* Initially hidden */
  z-index: 9998; /* Below the cursor */
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}